@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  color: white;
}

.btn {
  background-color: #00023f;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 0.9rem;
  margin-left: 0.5rem;
  font-weight: 400;
  font-weight: 700;
  color: white;
}

.btn:hover,
.btn:focus {
  background: rgba(96, 93, 182, 0.801);
}

.title {
  font-size: 1.275rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.profile-info,
.repos {
  background-color: #00023f;
  border-radius: 15px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

.item {
  padding: 0.8rem;
  border-radius: 5px;
  background: rgba(50, 49, 85, 0.5);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
  }
}

.container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container nav .name {
  margin-right: auto;
  padding: 0 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  color: #00023f;
}

.container nav .logo {
  width: 2.5rem;
}

.container nav .logo img {
  width: 100%;
}

.container nav .attribution span {
  font-weight: 700;
  font-size: 1rem;
  color: #00023f;
}

.container .banner {
  margin-top: 2rem;
}

.container .banner img {
  width: 100%;
  height: 12vh;
  border-radius: 10px;
}

.container .form-container {
  background-color: #00023f;
  padding: 1.5rem;
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  margin-top: -40px;
}

.container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .form-container form input[type="text"] {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 0.9rem;
  width: 100%;
  font-weight: 700;
  color: #00023f;
}

.container .form-container form ::-webkit-input-placeholder {
  color: #00023f;
  font-weight: 700;
}

.container .form-container form :-ms-input-placeholder {
  color: #00023f;
  font-weight: 700;
}

.container .form-container form ::-ms-input-placeholder {
  color: #00023f;
  font-weight: 700;
}

.container .form-container form ::placeholder {
  color: #00023f;
  font-weight: 700;
}

.container .form-container form .btn {
  background: rgba(50, 49, 85, 0.5);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
}

@media (min-width: 768px) {
  .container .main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;
  }
}

.container .main-grid .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .container .main-grid .user-profile {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.container .main-grid .user-profile img {
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container .main-grid .user-profile img {
    width: 100%;
  }
}

.container .main-grid .user-profile button {
  width: 50%;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .container .main-grid .user-profile button {
    width: 100%;
  }
}

.container .main-grid .user-profile button a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .container .main-grid .profile-info {
    grid-column: 2/-1;
  }
}

.container .main-grid .profile-info .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.container .main-grid .profile-info .grid #bio {
  grid-column: 1/-1;
}

.container .r-grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .container .r-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.container .r-grid .item:hover,
.container .r-grid .item:focus {
  background: rgba(96, 93, 182, 0.801);
}
/*# sourceMappingURL=style.css.map */